#pycache
__pycache__/

#files ending in ~
**/*~
 
#.DS_Store
.DS_Store

#virtualEnvDir
venv/

#Sublime Text workspace and project files
**.sublime-project
**.sublime-workspace
# working files for analysis
data/

#coverage stuff
.coverage
htmlcov/

