#pycache
__pycache__/

#files ending in ~
**/*~
 
#.DS_Store
.DS_Store

#virtualEnvDir
VDVenv/

#Sublime Text workspace and project files
vd4.sublime-project
vd4.sublime-workspace

# working files for analysis
data/


